//Navbar
$darkBlue: #003366;
$blue: #007fff;
$dirtyWhite: #f8f8f8;

// games component
$color-blue: #367588;
$color-light-blue: #1e90ff;
$color-green: #32cd32;
$color-yellow: #ffcc00;
$color-red: #b22222;
$color-dark-red: #ff0000;
