//Navbar
$darkBlue: #003366;
$blue: #007fff;
$dirtyWhite: #f8f8f8;

// games component
$color-blue: #367588;
$color-light-blue: #64b5f6;
$color-green: #6c9575;
$color-yellow: #fbc02d;
$color-soft-red: #e57373;

$color-beige: #f4f3e7;
$color-blue-muted: #52688c;
$color-blue-gray: #c3d0d3;
$color-blue-dark: #312d4e;

//EXPERIMENTAL
$light-blue: #89cff0; // A soft light blue
$medium-blue: #0a95d7; // A medium shade of blue for the main elements
$dark-blue: #064d8c; // A darker blue for active states or hover effects
$neon-blue: #39f; // A bright neon blue for highlights or active elements
// White for text and contrast
$light-gray: #f0f0f0; // Light gray for backgrounds or less emphasized elements

// new pallete!
$color-deep-forest: #1c281c;
$color-white: #fff;
$color-ocean-blue: #228290;
$color-light-blue: #d4e5e5;
$color-sky-blue: #abc7d3;
$color-steel-blue: #85abae;
$color-forest-green: #7bad2f;
$color-lavender: #bbb7d5;
$color-plum: #8a556f;
$color-rose: #cf94b6;
$color-sand: #c1bd98;
