/* Base Button */
.button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  background-size: 400% 400%;
  transition:
    background-position 0.5s,
    transform 0.2s ease;

  &--large {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    width: 100%;
  }

  &--small {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }

  &--blue {
    background: $blue;
  }

  &--violet {
    background: $violet;
  }

  &--blue-light {
    background: $blue-light;
  }

  &--gradient-green {
    background: linear-gradient(45deg, $green, $green-light);
  }

  &--gradient-orange {
    background: linear-gradient(45deg, $orange, $orange-light);
  }

  &--gradient-violet {
    background: linear-gradient(45deg, $violet, $violet-opaque);
  }

  &--gradient-red {
    background: linear-gradient(45deg, $red, $red-light);
  }

  &:hover {
    transform: translate(0, -2px);
    background-position: right bottom;
  }

  &:active {
    transform: translate(0, 0);
  }
}
