/*----- GENERATOR ------*/
.form-output-wrapper {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5rem;
  padding: 2rem;
}

.generator__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fefefe;
  gap: 1rem;
  padding: 4rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

select {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #7c6fe023;
  font-size: 1.6rem;

  transition: background-color 0.2s ease; /* Add transition for hover effect */
}

select:hover {
  cursor: pointer;
  background-color: #f8f7fc; /* Change background color on hover */
}

textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #7c6fe023;
  font-size: 1.6rem;
  resize: vertical;
}

/*Button*/
.generator__button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background: linear-gradient(45deg, #1ab477, #30e6bb);
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;

  background-size: 400% 400%;
  transition:
    background-position 0.5s,
    transform 0.2s ease;
}

.generator__button:hover {
  transform: translate(0, -2px);
  background-position: right bottom;
}

.generator__button:active {
  transform: translate(0, 0);
}

/*----- OUTPUT BOX ------*/
.generator__output {
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #fefefe;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04);
  max-height: 35rem;
  overflow: auto;
}

.generator__title-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

/*Button*/
.generator__copy-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: linear-gradient(45deg, #7b71e9, #8a81f3);
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.generator__copy-button:hover {
  transform: translate(0, -1px);
}

.generator__copy-button:active {
  transform: translate(0, 0);
}

.generator__code-item--placeholder {
  color: #a3a3a3;
  font-style: italic;
}

/*----- BAD CODES ------*/
.generator__bad-codes {
  grid-column: span 2;
  background-color: #f3e6ba70;
  overflow-x: auto;
  padding: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}
