/*----- GENERATOR ------*/
.form-output-wrapper {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5rem;
  padding: 2rem;

  select {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #7c6fe023;
    font-size: 1.6rem;

    transition: background-color 0.2s ease; /* Add transition for hover effect */
  }
}

.generator__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fefefe;
  gap: 1rem;
  padding: 4rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

select:hover {
  cursor: pointer;
  background-color: #f8f7fc; /* Change background color on hover */
}

textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #7c6fe023;
  font-size: 1.6rem;
  resize: vertical;
}

/*----- OUTPUT BOX ------*/
.generator__output {
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #fefefe;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04);
  max-height: 35rem;
  overflow: auto;
}

.generator__title-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

/*----- BAD CODES ------*/
.generator__bad-codes {
  grid-column: span 2;
  background-color: #f3e6ba70;
  overflow-x: auto;
  padding: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

/* Placeholder Text */
.generator__code-item--placeholder {
  color: #7a7676;
  font-style: italic;
}
