.navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  border-right: 1px solid $color-sky-blue;
  letter-spacing: 1px;
  background-color: $color-light-blue;

  &__item {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    color: $color-ocean-blue;
    transition: color 0.3s ease-in-out;

    &:hover,
    .active {
      background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.5), $color-ocean-blue),
        radial-gradient(circle at right, rgba(255, 255, 255, 0.5), $color-ocean-blue),
        $color-ocean-blue;
      color: $color-white;
    }
  }

  .active {
    background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.5), $color-ocean-blue),
      radial-gradient(circle at right, rgba(255, 255, 255, 0.5), $color-ocean-blue),
      $color-ocean-blue;
    color: $color-white;
  }
}
