.task-helper {
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  textarea {
    width: 100%;
    margin-bottom: 1rem;
  }

  button {
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr {
      border-bottom: 1px solid #ddd;
    }
  }
}
